{% extends 'admin/base_admin.html.twig' %}

{% block section_admin %} Acceuil | {{ parent() }} {% endblock %}

{% block page_content %}
	{# Page Heading #}
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
		<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
			<i class="fas fa-download fa-sm text-white-50"></i> Faire un raport
		</a>
	</div>

	{# Content Row #}
	<div class="row">

		{# Earnings (Monthly) #}
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Gains (Mois)</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{ stats.montly }} €</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-calendar fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		{# Earnings (Annual) #}
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-success text-uppercase mb-1">Gains (Annual)</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{ stats.annualy }} €</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		{# Earnings (Monthly) Card Example #}
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-info shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-info text-uppercase mb-1">Magasins</div>
							<div class="row no-gutters align-items-center">
								<div class="col-auto">
									<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ magasins|length }}</div>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-store fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		{# Pending Requests Card Example #}
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-warning shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Produits (Global)</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">{{ produits|length }}</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-wine-bottle fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{# Content Row #}

	<div class="row">

		{# Area Chart #}
		<div class="col-xl-8 col-lg-7">
			<div class="card shadow mb-4">
				{# Card Header - Dropdown #}
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
					<div class="dropdown no-arrow">
						<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
							<div class="dropdown-header">Dropdown Header:</div>
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
				</div>
				{# Card Body #}
				<div class="card-body">
					<div class="chart-area">
						<canvas id="myAreaChart"></canvas>
					</div>
				</div>
			</div>
		</div>

		{# Pie Chart #}
		<div class="col-xl-4 col-lg-5">
			<div class="card shadow mb-4">
				{# Card Header - Dropdown #}
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
					<div class="dropdown no-arrow">
						<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
							<div class="dropdown-header">Dropdown Header:</div>
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
				</div>
				{# Card Body #}
				<div class="card-body">
					<div class="chart-pie pt-4 pb-2">
						<canvas id="RevenueSources"></canvas>
					</div>
					<div class="mt-4 text-center small">
	                    <span class="mr-2">
	                      <i class="fas fa-circle" style="color: #4e73df;"></i> Commerce (vente)
	                    </span>
						<span class="mr-2">
	                      <i class="fas fa-circle" style="color: #1cc88a;"></i> Subvention
	                    </span>
					</div>
				</div>
			</div>
		</div>
	</div>

	{# Content Row #}
	<div class="row">

		{# Content Column #}
		<div class="col-lg-6 mb-4">

			{# Project Card Example #}
			<div class="card shadow mb-4">
				<div class="card-header py-3 d-flex justify-content-between">
					<h6 class="m-0 font-weight-bold text-primary">Magasins (CA)</h6>
					<a href="{{ path('admin_magasin_index') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
						<i class="fas fa-store fa-sm text-white-50"></i> +Manage
					</a>
				</div>
				<div class="card-body">
					{% set max = magasinsCA|reduce((ac, cu) => ac+cu.total, 0) %}
					{% set values = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd', 'e', 'f']%}

					{% for magasin in magasinsCA %}
						<h4 class="small font-weight-bold">{{ magasin[0].nom }} <span class="float-right">{{ magasin.total }} €</span></h4>
						<div class="progress mb-4">
							<div class="progress-bar"
							     role="progressbar"
							     style="width: {{ (magasin.total / max)|format_number(style='percent') }};background-color: {{ '#' ~ random(values) ~ random(values) ~ random(values) ~ random(values) ~ random(values) ~ random(values)  }};"
							     aria-valuenow="20"
							     aria-valuemin="0"
							     aria-valuemax="100"></div>
						</div>
					{% endfor %}
				</div>
			</div>

			{# Color System #}
			<div class="row">
				<div class="col-lg-6 mb-4">
					<div class="card bg-primary text-white shadow">
						<div class="card-body">
							Primary
							<div class="text-white-50 small">#4e73df</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="col-lg-6 mb-4">
			{# Illustrations #}
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Informations</h6>
				</div>
				<div class="card-body">
					<div class="text-center">
						<img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="{{ asset('dist/images/undraw_posting_photo.svg') }}" alt="">
					</div>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						A cupiditate eaque ratione sequi. Assumenda corporis cumque dolorem,
						doloremque eaque id, inventore nostrum obcaecati possimus quasi qui
						reprehenderit repudiandae voluptatibus! Neque!
					</p>
					<a target="_blank" rel="nofollow" href="https://undraw.co/">plus &rarr;</a>
				</div>
			</div>

			{# Approach #}
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Approche du développement</h6>
				</div>
				<div class="card-body">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi debitis
					deleniti nihil odit officia perferendis quaerat qui quidem repellendus sapiente
					suscipit, temporibus totam voluptate.
				</div>
			</div>

		</div>
	</div>

{% endblock %}


{% block javascripts %}

	{{ parent() }}

	<script type="text/javascript">
		$(document).ready(() => {
            let ctx = document.getElementById("RevenueSources");
            let RevenueSources = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ["Commerce (vente)", "Subvention"],
                    datasets: [{
                        data: [{{ stats.annualy }}, {{ stats.subvention }}],
                        backgroundColor: ['#4e73df', '#1cc88a'],
                        hoverBackgroundColor: ['#2e59d9', '#17a673'],
                        hoverBorderColor: "rgba(234, 236, 244, 1)",
                    }],
                },
                options: {
                    maintainAspectRatio: false,
                    tooltips: {
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        borderColor: '#dddfeb',
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        caretPadding: 10,
                        callbacks: {
                            label: function(tooltipItem, chart) {
                                var datasetLabel = chart.labels[tooltipItem.index] || '';
                                return datasetLabel + ': ' + window.helpers.number_format(chart.datasets[0].data[tooltipItem.index]) + ' €';
                            }
                        }
                    },
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 80,
                },
            });
		});
	</script>
	<script type="text/javascript">

		$(document).ready(() => {
            // Area Chart Example
            var ctx = document.getElementById("myAreaChart");
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets: [{
                        label: "Earnings",
                        lineTension: 0.3,
                        backgroundColor: "rgba(78, 115, 223, 0.05)",
                        borderColor: "rgba(78, 115, 223, 1)",
                        pointRadius: 3,
                        pointBackgroundColor: "rgba(78, 115, 223, 1)",
                        pointBorderColor: "rgba(78, 115, 223, 1)",
                        pointHoverRadius: 3,
                        pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                        pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                        pointHitRadius: 10,
                        pointBorderWidth: 2,
                        // data: [0, 10000, 5000, 15000, 10000, 20000, 15000, 25000, 20000, 30000, 25000, 0],
                        data: Object.values({{ stats.months|json_encode()|raw }}),
                    }],
                },
                options: {
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            left: 10,
                            right: 25,
                            top: 25,
                            bottom: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                            time: {
                                unit: 'date'
                            },
                            gridLines: {
                                display: false,
                                drawBorder: false
                            },
                            ticks: {
                                maxTicksLimit: 7
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                maxTicksLimit: 5,
                                padding: 10,
                                // Include a dollar sign in the ticks
                                callback: function(value, index, values) {
                                    return window.helpers.number_format(value) + '€';
                                }
                            },
                            gridLines: {
                                color: "rgb(234, 236, 244)",
                                zeroLineColor: "rgb(234, 236, 244)",
                                drawBorder: false,
                                borderDash: [2],
                                zeroLineBorderDash: [2]
                            }
                        }],
                    },
                    legend: {
                        display: false
                    },
                    tooltips: {
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        titleMarginBottom: 10,
                        titleFontColor: '#6e707e',
                        titleFontSize: 14,
                        borderColor: '#dddfeb',
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        intersect: false,
                        mode: 'index',
                        caretPadding: 10,
                        callbacks: {
                            label: function(tooltipItem, chart) {
                                var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                return datasetLabel + ': ' + window.helpers.number_format(tooltipItem.yLabel) + ' €';
                            }
                        }
                    }
                }
            });
        });

	</script>

{% endblock %}