{% extends 'base.html.twig' %}

{% block title %}HoraireMagasin{% endblock %}

{% block body %}
    <h1>HoraireMagasin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ horaire_magasin.id }}</td>
            </tr>
            <tr>
                <th>Jour</th>
                <td>{{ horaire_magasin.jour }}</td>
            </tr>
            <tr>
                <th>HOuvertureMatin</th>
                <td>{{ horaire_magasin.hOuvertureMatin ? horaire_magasin.hOuvertureMatin|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>HFermetureMatin</th>
                <td>{{ horaire_magasin.hFermetureMatin ? horaire_magasin.hFermetureMatin|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>HOuvertureMidi</th>
                <td>{{ horaire_magasin.hOuvertureMidi ? horaire_magasin.hOuvertureMidi|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>HFermetureMidi</th>
                <td>{{ horaire_magasin.hFermetureMidi ? horaire_magasin.hFermetureMidi|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('horaire_magasin_index') }}">back to list</a>

    <a href="{{ path('horaire_magasin_edit', {'id': horaire_magasin.id}) }}">edit</a>

    {{ include('horaire_magasin/_delete_form.html.twig') }}
{% endblock %}
